<div class="container mt-4">
  <div class="row">
    <div class="col-sm-8">
      <article class="speakerslist maincontent">
        <% members.forEach(function (member){%>
        <div class="mb-4">
          <h4 class="speakerslist-title"><%=member.title%></h4>
          <div class="speakerslist-name">
            with
            <a href="/members/<%=member.shortname%>"><%=member.name%></a>
          </div>
          <div class="row speakerslist-info mt-2">
            <div class="col-sm-3">
              <a href="/members/<%=member.shortname%>">
                <img
                  class="speakerslist-img rounded-circle img-fluid"
                  src="/images/members/<%=member.shortname%>_tn.jpeg"
                  alt="Photo of <%=member.name%>"
                />
              </a>
            </div>
            <div class="col-sm-9">
              <%=member.summary%>
            </div>
          </div>
        </div>
        <%})%>
      </article>
    </div>
    <aside class="col-sm-4">
      <%- include('./partials/artwork')%>
    </aside>
  </div>
</div>
